{% extends 'base.html.twig' %}

{% block title %}Liste des imprimés utilisés{% endblock %}

{% block app_ct %}
<div class="box">
    <div class="box-header">IMPRIME UTILISER</div><br>
</div>
<table class="table" style="width:100%;">
    <tbody>
        <tr>
            <td style="width:50%;">
                <div class="box">
                    <div class="entete-formulaire">Recherche</div><br>
                    <div>
                        {{ form_start(form_feuille_utilisation) }}
                            {{ form_row(form_feuille_utilisation.date) }}
                            {{ form_row(form_feuille_utilisation.ct_centre_id) }}
                            <button class="btn btn-success" type="submit" formaction="{{ path('app_ct_app_imprime_technique_liste_utiliser') }}">
                                Générer
                            </button>
                        {{ form_end(form_feuille_utilisation) }}
                    </div>
                </div>
            </td>
            <td style="width:50%;">
                <div class="box">
                    <div class="entete-formulaire">Recherche</div><br>
                    <div>
                        {{ form_start(form_situation_de_stock) }}
                            {{ form_row(form_situation_de_stock.date) }}
                            {{ form_row(form_situation_de_stock.ct_centre_id) }}
                            <button class="btn btn-success" type="submit" formaction="{{ path('app_ct_app_imprime_technique_liste_utiliser') }}">
                                Générer
                            </button>
                        {{ form_end(form_situation_de_stock) }}
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="box">
</div>
<div class="box">
    <div class="entete-formulaire">Liste des imprimés dans le bordereau</div><br>
    <div>
        <div class="marge-elts">
            <table class="table liste">
                <thead>
                    <tr>
                        {# <th>Id</th> #}
                        <th>N° controle / N° enregistrement</th>
                        <th>N° IT</th>
                        {# <th>utilisé</th> #}
                        {# <th>Actived_at</th>
                        <th>Created_at</th>
                        <th>Updated_at</th>
                        <th>observation</th>
                        <th>est visible</th> #}
                        <th>IT</th>
                        <th>Motif utilisation</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for ct_imprime_tech_use in ct_imprime_tech_uses %}
                    <tr>
                        {# <td>{{ ct_imprime_tech_use.id }}</td> #}
                        <td>{{ ct_imprime_tech_use.ctControleId }}</td>
                        <td>{{ ct_imprime_tech_use.ituNumero }}</td>
                        {# <td>{{ ct_imprime_tech_use.ituUsed ? 'Oui' : 'Non' }}</td> #}
                        {# <td>{{ ct_imprime_tech_use.activedAt ? ct_imprime_tech_use.activedAt|date('d/m/Y H:i:s') : '' }}</td>
                        <td>{{ ct_imprime_tech_use.createdAt ? ct_imprime_tech_use.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                        <td>{{ ct_imprime_tech_use.updatedAt ? ct_imprime_tech_use.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                        <td>{{ ct_imprime_tech_use.ituObservation }}</td>
                        <td>{{ ct_imprime_tech_use.ituIsVisible ? 'Oui' : 'Non' }}</td> #}
                        <td>{{ ct_imprime_tech_use.ct_imprime_tech_id }}</td>
                        <td>{{ ct_imprime_tech_use.ct_usage_it_id }}</td>
                        <td>
                            <a href="{{ path('app_ct_imprime_tech_use_show', {'id': ct_imprime_tech_use.id}) }}" class="btn btn-success"><i class="fa fa-book" aria-hidden="true"></i></a>
                            <a href="{{ path('app_ct_imprime_tech_use_edit', {'id': ct_imprime_tech_use.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{# <div class="box"> #}
    {# <a href="{{ path('app_ct_app_imprimable_bordereau_envoi', {'numero' : numero }) }}" class="btn btn-success"><i class="fa fa-success" aria-hidden="true"></i> Imprimer</a> #}
    {# <a href="#" class="btn btn-success"><i class="fa fa-success" aria-hidden="true"></i> Imprimer</a>
</div> #}
{% endblock %}
